<!DOCTYPE html>
<html lang="en">
  {% seo %}
  {% include head.html %}
  {% include google_analytics.html %}
  {% include piwik.html %}
  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      </footer>
    </div>

  </body>
</html>
